<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">

    <!--Importando CSS-->
    <link rel="stylesheet" type="text/css" href="css/components.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">

    <title>Task Manager SI 1</title>
</head>

<body>

<div class="center-block container text-center" ng-app="myApp" ng-controller="controller">
    <h1> My Tasks </h1>

    <h4> Total of tasks: {{taskList.length}}</h4>
    <form>
        <div class="form-group">
            <label for="taskName"> Task</label>
            <input type="text" class="form-control" placeholder="Enter the task" ng-model="name"
                   id="taskName">
            <br>
            <button type="submit" ng-click="addTask()"> Add new task</button>
            <br>

            <ui ng-repeat="task in taskList">
                <li>
                    <label><input type="checkbox"/> {{task.nome}}</label>
                    <button type="button" ng-click="removeTask($index)">Remove</button>
                </li>
            </ui>
        </div>
    </form>

    <div>
        <input type="button" onclick="changeColor('navy')" value="Mudar a cor para navy"/>
        <input type="button" onclick="changeColor('')" value="Resetar cor"/>
    </div>
</div>
</body>

<!--Referências do Angular-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/bootstrap.js"></script>

</html>
