<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">

    <!--Importando CSS-->
    <link rel="stylesheet" type="text/css" href="css/components.css"/>

    <!--Importanto Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />


    <title>Task Manager SI 1</title>

</head>

<body>


<h1> Aprendendo HTML</h1>

<div>
    <input type="button" onclick="changeColor('navy')" value="Mudar a cor para navy"/>
    <input type="button" onclick="changeColor('')" value="Resetar cor"/>
</div>


<!--Referência do Bootstrap-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>

<h1> Task!!</h1>
<div class="container" ng-app="myApp" ng-controller="controller">

    <form>
        <div class="form-group">
            <label for="taskName"> Insira a task</label>
            <input type="text" ng-model="name" id="taskName">
            <br>
            <button type="submit" ng-click="addTask()"> Adicionar</button>
            <br>


            <ui ng-repeat="task in taskList">
                <li>
                {{task.nome}}
                </li>
            </ui>

            <table>
                <!--<thead> Lista de tarefas</thead>-->
                <tr ng-repeat="task in taskList">
                    <td>
                        {{task.nome}}
                    </td>
                     </tr>
            </table>
        </div>
    </form>
</div>



</body>

<!--Importando o arquivo com as funções-->
<script src="js/functions.js"></script>

<!--Referências do Angular-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/app.js"></script>

</html>
